HashKnownHosts no

Host juropa
        HostName  juropa.fz-juelich.de
        User      hlz172
        ForwardAgent yes
        CheckHostIP yes
        Compression yes
        ForwardX11  yes
        ForwardX11Trusted yes

Host mona
        HostName 192.168.130.25
        User marenz
        ForwardAgent yes
        CheckHostIP yes
        Compression yes
        ForwardX11 yes
        ForwardX11Trusted yes

Host grawp
        HostName grawp.physik.uni-leipzig.de
        User marenz
        ForwardAgent yes
        CheckHostIP yes
        Compression yes
        ForwardX11 yes
        ForwardX11Trusted yes

Host diamant
      HostName diamant.physik.uni-leipzig.de
      ForwardAgent yes
      User root
      CheckHostIP yes

Host ldap
      HostName ldap.physik.uni-leipzig.de
      ForwardAgent yes
      User root
      CheckHostIP yes

Host nfs
      HostName nfs.physik.uni-leipzig.de
      ForwardAgent yes
      User root
      CheckHostIP yes

Host *.physik.uni-leipzig.de
      User marenz
      ForwardAgent yes
      CheckHostIP yes
      Compression yes
      ForwardX11 yes
      ForwardX11Trusted yes

Host *
      User marenz
      ForwardAgent yes
      CheckHostIP yes
      Compression yes
      ForwardX11 yes
      ForwardX11Trusted yes
